.buy-option-toggle-wrapper {
    .react-toggle-track {
        background-color: #D9D9D9 !important;
    }

    .react-toggle-thumb {
        background: linear-gradient(36.67deg, #4BD8D8 -6%, #146EB4 110.33%);
        border: none;
    }
}