#demo-simple-select {
    display: flex;
    align-items: center;
}

.dropdown-dropup-svg-wrapper>svg {
    width: 37px;
    height: 41px;
}

.clio-query-wrapper input {
    color: #4BD8D8 !important;
}