.wallet_connect_button_group {
	display: flex;
	align-items: center;
}

.wallet_connect_button_group>div {
	button {
		background: linear-gradient(75.27deg, #4BD8D8 -17.82%, #146EB4 136.02%) !important;
	}

	button:last-child>div:last-child {
		background: linear-gradient(75.27deg, #4BD8D8 -17.82%, #146EB4 136.02%) !important;
		border: none;
	}
}

.wallet_connect_button_group {
	justify-content: center;
	&>div {
		display: flex;
		justify-content: center;
		&>button {
			background: #146EB4 !important;
			border-radius: 12px;
			width: 200px;
			height: 50px;
			font-family: 'Inter';
			font-style: normal;
			font-weight: 600;
			font-size: 16px;
			line-height: 28px;
			letter-spacing: -0.01em;
			border: none;
			color: white;
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			gap: 10px;
			margin: 20px;
			&:nth-child(2) {
				&>div:first-child {
					display: none;
				}

				&>div:nth-child(2)>div {
					display: flex !important;
					flex-direction: row;
					gap: 10px;
					background: #146EB4 !important;
					&>div:last-child {
						display: flex;
						gap: 10px;
						align-items: center;

						@media (max-width: 570px) {
							display: none;
						}
					}
				}
			}

			@media (max-width: 650px) {
				font-size: 15px;
			}
		}
	}
}

.wallet_connect_button_group_mobile {
	&>div {
		display: flex;
		justify-content: center;

		&>button {
			background: linear-gradient(75.27deg, #4BD8D8 -17.82%, #146EB4 136.02%);
			border-radius: 15.4839px;
			width: 270px;
			height: 50px;
			font-family: 'Inter';
			font-style: normal;
			font-weight: 600;
			font-size: 23.2258px;
			line-height: 28px;
			letter-spacing: -0.01em;
			border: none;
			color: white;
			margin: 20px;
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			gap: 10px;

			&:nth-child(2) {
				&>div:first-child {
					display: none;
				}

				&>div:nth-child(2)>div {
					display: flex !important;
					flex-direction: row;
					gap: 10px;

					&>div:last-child {
						display: flex;
						gap: 10px;
						align-items: center;

						@media (max-width: 570px) {
							display: none;
						}
					}


				}
			}

			@media (max-width: 650px) {
				font-size: 15px;
			}
		}
	}
}